.main{
	padding: 0px;
	width: 150px;
	height: 700px;
	border:2px solid #10155e;
	margin: 0;
	float: left;
}

.headfoot{
	background-color: blue;
	color: white;
	text-align: center;
	margin: 0;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	background: white;
}

table, th, td {
	text-align: center;
}

html{
    background: rgba(243,226,199,1);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(233,212,179,1)), color-stop(99%, rgba(182,141,76,1)), color-stop(100%, rgba(193,158,103,1)));
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#c19e67', GradientType=1 );
}

.body{
	width: 100%px;
}

iframe{
	height: 700px;
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
	overflow: hidden;
    align: center;
}

.main button{
	margin: 10px;
	background-color: white;
	border: 2px solid #c8c8c8;
	border-radius: 5px;

}

.entEx div{
	border:2px solid red;
	background-color: pink;
	height: 20px;
	width: 120px;
	margin: 10px;
	text-align: center;
}
#pic{
	height: 40px;
	width: 60px;
	float: left;
}

.pix p{
	font-size: 10px;
}
#id{
	margin-left: 25px;
}

div{
	border:6px solid #10155e;
	width: 400px;
	height: 400px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;	
	background-color: #fdb813;
	padding-top: 150px;
}
