
.body{
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}

html{
    background: rgba(243,226,199,1);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(233,212,179,1)), color-stop(99%, rgba(182,141,76,1)), color-stop(100%, rgba(193,158,103,1)));
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(233,212,179,1) 0%, rgba(182,141,76,1) 99%, rgba(193,158,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#c19e67', GradientType=1 );
}

.login{
	border:6px solid #10155e;
	width: 400px;
	height: 400px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	background-color: #fdb813;
	padding-top: 150px;
}


ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left:15px;
	padding-right:15px;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
}

/* Next button */
.month .next {
    float: right;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

tr:nth-child(odd){
	background-color: #d3d1cc;
}
table{
	border-collapse: separate;
 	border-spacing: 5px 0;
}
td{
	 padding: 5px 0;
}

#src{
	width: 600px;
	height: 500px;
}

.section{
    width: 100%;
}